<button class="map_button">Show Map</button>
<div class="show_map"></div>

<div id='messagesDiv' class="twelvecol"></div>


<div class="ajax-check"></div>
<input type='text' id='messageInput' class="elevencol" placeholder='Message...'>
