<div class="container">
  <div class="banner text-center">
  <h1>Polar_Bear</h1>
   <h3>Break the Ice</h3>
</div>
  <section class="room-list">

    <script id="room-template" type="text/x-handlebars-template">
      {{#rooms}}
        <div>{{name}}</div>
      {{/rooms}}
    </script>
  </section>
</div>
